.scene {
    display: none;
}

.scene.active {
    display: block;
}

#login,
#registro,
#panel {
    text-align: center;
}

body.modoscuro {
    background-color: #121212;
    color: white;
}

body {
    background-color: white;
    color: black;
}

#errorLogin,
#errorRegistro {
    color: red;
}

#mensajeRegistro{
    color: green;
}